Call display3(): {{display3()}}
<br>
<input type="text" [value]="result1">
<br>
{{result1}}

<br>
First name: <input type="text" [(ngModel)] = "firstName">
<br>
Last name: <input type="text" [(ngModel)] = "lastName">
<br>
Full name: {{firstName}} {{lastName}}
<br>
Call display3(): {{display3()}}

<input type="button" value="Click Me" (click) = "clickMe($event)">
<br>

<input type="text" (keyup.enter)="display4($event)">
<br>
Result2: {{result2}}

Call display5(): {{display5()}}